<!doctype html>
<html lang="en" ng-app="angular-app">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Softcare Multimedia Repository">
        <meta name="author" content="Atos">
        <title>Softcare - Multimedia Repository</title>

        <!-- web browser icon -->
        <link rel="shortcut icon" href="imgs/favicon.ico">

        <!-- stylesheets -->
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/multimedia.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.css">

        <!-- scripts -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

        <!-- charts -->


        <script src="js/modernizr-2.6.2.min.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap.min.js"></script>

    </head>

    <body ng-controller="mainController">

        <div id="loader-wrapper">
			<div id="loader"></div>
			<div class="loader-section section-left"></div>
            <div class="loader-section section-right"></div>
		</div>

        <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: rgba(0, 0, 0, 0.75);">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header" >
                    <a class="navbar-brand" style="color: #FFFFDD;" href="#">Softcare - Multimedia Repository</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#" ng-click="goUsers()" ng-show="user.logged && user.rol=='admin'">Users</a>
                        </li>
                        <li>
                            <a href="#" ng-click="goMContent()" ng-show="user.logged">Multimedia Content</a>
                        </li>
                        <li>
                            <a href="#" ng-click="goMonitoring()" ng-show="user.logged && user.rol=='admin'" disabled>Monitoring</a>
                        </li>
                        <li>
                            <button type="button" class="btn btn-default navbar-btn"
                                    ng-click="toggleModal()" ng-hide="user.logged" title="Log in">
                                <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
                            </button>
                            &nbsp;&nbsp;
                        </li>
                        <li class="dropdown" ng-show="user.logged">
                            <a href="#" class="dropdown-toggle" style="color: #FFF;" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">{{user.username}}<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#" disabled>Change password</a></li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <a href="#" ng-click="logout()">-Logout-</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

        <!-- Intro Header -->
		<header class="intro" ng-hide="user.logged">
			<div class="intro-body">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h2 class="brand-heading">
                                <span class="glyphicon glyphicon-film" aria-hidden="true"></span>
                                &nbsp;
                                <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
                                &nbsp;&nbsp;- Softcare Multimedia Repository -&nbsp;&nbsp;
                                <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
                                &nbsp;
                                <span class="glyphicon glyphicon-music" aria-hidden="true"></span>
                            </h2>
							<p class="intro-text">
                                Lorem ipsum ad his scripta blandit partiendo, eum fastidii accumsan euripidis in, eum liber hendrerit an. Qui ut wisi vocibus suscipiantur, quo dicit ridens inciderint id. Quo mundi lobortis reformidans eu, legimus senserit definiebas an eos. Eu sit tincidunt incorrupte definitionem, vis mutat affert percipit cu, eirmod consectetuer signiferumque eu per. In usu latine equidem dolores. Quo no falli viris intellegam, ut fugit veritus placerat per.
                            </p>
                            <p class="intro-text">
                                Ius id vidit volumus mandamus, vide veritus democritum te nec, ei eos debet libris consulatu. No mei ferri graeco dicunt, ad cum veri accommodare. Sed at malis omnesque delicata, usu et iusto zzril meliore. Dicunt maiorum eloquentiam cum cu, sit summo dolor essent te. Ne quodsi nusquam legendos has, ea dicit voluptua eloquentiam pro, ad sit quas qualisque. Eos vocibus deserunt quaestio ei.
                            </p>
                            <p class="intro-text">
                                Blandit incorrupte quaerendum in quo, nibh impedit id vis, vel no nullam semper audiam. Ei populo graeci consulatu mei, has ea stet modus phaedrum. Inani oblique ne has, duo et veritus detraxit. Tota ludus oratio ea mel, offendit persequeris ei vim. Eos dicat oratio partem ut, id cum ignota senserit intellegat. Sit inani ubique graecis ad, quando graecis liberavisse et cum, dicit option eruditi at duo. Homero salutatus suscipiantur eum id, tamquam voluptaria expetendis ad sed, nobis feugiat similique usu ex.
                            </p>
							<a href="#about" class="btn btn-circle page-scroll">
								<i class="fa fa-angle-double-down animated"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</header>


        <div class="content-section" ng-show="user.logged">
            <div ng-include="content.url"></div>
        </div>

        <!--
        <div class="content-section" ng-hide="user.logged">
            <div ng-include="'public_content.html'"></div>
        </div>-->

        <!-- MODAL LOGIN WINDOW -->
        <modal title="Sign in" visible="showModal">
            <div class="loginmodal-container2">
                <form role="form" ng-submit="login()">
                    <div class="form-group">
                        <label for="text">User name</label>
                        <input type="text" class="form-control" id="user" placeholder="Enter user name" ng-model="user.username"
                               />
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Enter password" ng-model="user.password"/>
                    </div>
                    <button type="submit" class="btn btn-default">Log in</button>
                </form>
            </div>
        </modal>

        <footer class="panel-footer footer">&copy;ATOS All right reserved</footer>

        <!-- load scripts -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>

        <!-- Web Storage -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.js"></script>

        <!-- charts monitoring -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
        <script src="https://cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.min.js"></script>

        <script src="index.js"></script>
        <script src="users.js"></script>
        <script src="multimedia.js"></script>
        <script src="monitoring.js"></script>

        <script src="js/main.js"></script>
    </body>

</html>
