<div class="container" ng-controller="monitoringController">
    <div>
        <label>App [v.0.3]:</label>&nbsp;&nbsp;&nbsp;
        <label  ng-model="containerObject.freeMem" style="color:blue">{{containerObject.freeMem}}</label>&nbsp;/
        <label  ng-model="containerObject.totalMem">{{containerObject.totalMem}} MB</label>&nbsp;&nbsp;&nbsp;
        <label  ng-model="containerObject.appMem" style="color:red">{{containerObject.appMem}} MB</label>&nbsp;&nbsp;&nbsp;
        <button ng-click="doCallToREST()">test call</button>
        <button ng-click="startMonitor()">start monitoring</button>
        <button ng-click="stopMonitor()">stop monitoring</button>
    </div>
    <div style="width:730px">
        <textarea  ng-model="containerObject.resp_txt" style="width:100%; height:75px"></textarea>
    </div>
    <!-- -->
    <div style="width:700px; height:300px">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>RAM [in MB]</th>
                    <th>CPU [load average]  <label  ng-model="containerObject.freeMem" style="color:blue">{{containerObject.loadAvg}} %</label></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-legend="true" chart-series="series" style="width:450px; height:200px"></canvas>
                    </td>
                    <td>
                        <canvas id="doughnut" class="chart chart-doughnut" chart-data="data2" chart-labels="labels2" chart-legend="true" style="width:250px; height:200px"></canvas>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="container"  ng-controller="ExampleController">
    <hr/>
    Current time is: <span my-current-time="format"></span>
    <hr/>
</div>
